<h1>This is a form page</h1>

<form action='/games' method="POST">
  <% 5.times do %>
    NAME: <input ... name="game[][name]" /><br>
    DIFFICULTY: <input ... name="game[][difficulty]" /> <br>
    PLAYERS: <input ... name="game[][players]" /> <br> 
  <% end %> 


  <button type="submit">Go</button>
</form>





