<h1>This is a form page</h1>

<form action='/games' method="POST">
  <% 5.times do %>
    NAME: <input ... name="game[][name]" /><br>
    DIFFICULTY: <input ... name="game[][difficulty]" /> <br>
    <% 5.times do %>
      PLAYERS: <input ... name="game[][players][][name]" /> <br> 
      <% end %>
  <% end %> 


  <button type="submit">Go</button>
</form>

<!-- {"game"=>[{"name"=>"George",
 "difficulty"=>"so weak",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"George 2",
 "difficulty"=>"unreal weak",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"Jorge",
 "difficulty"=>"Seriously?",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"Jeremly Lin",
 "difficulty"=>"Tough",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"G Lin",
 "difficulty"=>"Terrible",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]}]}
 -->

