<h1>This is a form page</h1>

<form action='/games' method="POST">
  <% 5.times do %>
    NAME: <input ... name="game[][name]" /><br>
    DIFFICULTY: <input ... name="game[][difficulty]" /> <br>
    <% 5.times do %>
      PLAYERS: <input ... name="game[][players][][name]" /> <br> 
      <% end %>
  <% end %> 


  <button type="submit">Go</button>
</form>

<!-- "game[]"
"game[][players]"
"game[][players][][names]" -->



