

<ul>
  <% @game.each do |game| %>
  <li>  NAME:  <%= game[:name] %></li><br>
  <li>  DIFFICULTY:  <%= game[:difficulty] %></li><br>
  <ol>  <% game[:players].each do |player| %><br>
    <li>  <%= player[:name] %> </li>
        <% end %>
  </ol>
    <% end %>

</ul>

<!-- {"game"=>[{"name"=>"George",
 "difficulty"=>"so weak",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"George 2",
 "difficulty"=>"unreal weak",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"Jorge",
 "difficulty"=>"Seriously?",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"Jeremly Lin",
 "difficulty"=>"Tough",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]},
 {"name"=>"G Lin",
 "difficulty"=>"Terrible",
 "players"=>[{"name"=>"1"},
 {"name"=>"2"},
 {"name"=>"3"},
 {"name"=>"4"},
 {"name"=>"5"}]}]}
 -->
